@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  font-size: 62.5%;
}

body{
  font-family: 'Raleway', Arial, sans-serif;
}

/*Radio label and icon styling*/
#sell-icon {
  background: url("../images/conversion.svg") no-repeat center center;
}

#fame-icon {
  background: url("../images/social.svg") no-repeat center center;
}

#mobile-icon {
  background: url("../images/mobile.svg") no-repeat center center;
}

label[for="sell"]::before {
  content: "Sell things";
  color: black;
  display: inline-block;
  margin-top: 180px;
}
label[for="fame"]::before {
  content: "Become famous";
  color: black;
  display: inline-block;
  margin-top: 180px;
}
label[for="mobile"]::before {
  content: "Mobile market";
  color: black;
  display: inline-block;
  margin-top: 180px;
}

.radio-icons {
  height: 180px;
  width: 150px;
  background-size:contain;
  display:inline-block;
}

/*input styling*/
input[type="radio"] {
  left: -999px;
  position: absolute;
}

input[type="color"] {
  width: 500px;
}

.preview-color {
  background-color: blue;
  height: 100px;
  width: 100px;

}

.header{
  width: 100%;
  background-color: #3b3f45;
  padding: 3rem;
  margin-bottom: 1rem;
}

.header h1{
  color: #fff;
  font-weight: 600;
  font-size: 3.5rem;
}

.icon{
  margin-top: 1rem;
  color: #252525;
}

.icon:before{
  margin: 0 1rem;
  font-size: 2rem;
}

.icon span{
  display: none;
  position: absolute;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 0 0 0.5rem;
  white-space: nowrap;
}

.icon:hover, .icon:focus{
  text-decoration: none;
  color: #fff;
}

.icon:hover span{
  display:block;
  color: #6a7b7e;
}

.progress-num{
  position: absolute;
  right:5rem;
  top: 11rem;
  font-size: 4rem;
  color: #252525;
}

.current-num, .total-num{
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #191919;
}